@import url(//cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css);
@import '@sendbird/uikit-react/dist/index.css';
* {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

img {
  display: block;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  border: 0;
  background-color: transparent;
}

svg {
  vertical-align: top;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
